body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    transition: background-color 0.3s ease;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#notas-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nota {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

button {
    padding: 8px;
    margin: 5px;
    cursor: pointer;
}

/* Nuevo estilo para el formulario */
#formulario-nota {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.form-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 8px;
}

.form-cancel-button {
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.centrar-div {
    text-align: center;
}

.dark-mode {
    background-color: var(--bg-color);
}

.light-mode {
    background-color: var(--color1);
}


:root {
    --color1: #EAEAEA;
    --bg-color: #161920;
}